:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --grayish-blue: hsl(214, 19%, 24%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--very-dark-blue);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main {
  width: 21rem;
  background-color: var(--dark-blue);
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 0 2rem;
}

/* Ratings container */
.icon,
.number {
  font-family: "Overpass", sans-serif;
  font-size: 0.9rem;
  background-color: var(--grayish-blue);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.header {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--light-grey);
  margin-bottom: 1.5rem;
}

.ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
}

.ratings .number {
  color: var(--light-grey);
}

.ratings .number:hover {
  background-color: var(--medium-grey);
  color: var(--white);
  cursor: pointer;
  -webkit-transition: ease-in 0.1ms;
  transition: ease-in 0.1ms;
}

.submit-button {
  text-transform: uppercase;
  background-color: var(--orange);
  color: var(--white);
  letter-spacing: 2px;
  font-weight: 700;
  width: 100%;
  border: none;
  border-radius: 3rem;
  padding: 1rem;
}

.submit-button:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--orange);
  -webkit-transition: ease-in 0.2ms;
  transition: ease-in 0.2ms;
}

/* Thank you container */
.thankyou-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thankyou-container p {
  text-align: center;
}

.img-container {
  margin-top: 1rem;
}

.user-selection-result {
  background-color: var(--grayish-blue);
  color: var(--orange);
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  margin: 1.5rem 0;
}

.hidden {
  display: none;
}

.selected {
  background-color: var(--orange);
  color: var(--white);
  -webkit-transition: ease 0.1ms;
  transition: ease 0.1ms;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (min-width: 1440px) {
  main {
    width: 26rem;
    height: 26rem;
  }
  .icon,
  .number {
    width: 56px;
    height: 56px;
    font-size: 1.2rem;
  }
  .icon img {
    width: 90%;
  }
  .header {
    font-size: 2rem;
  }
  .paragraph {
    font-size: 1rem;
  }
  .submit-button {
    font-size: 1rem;
  }
  .thankyou-container {
    padding: 0.3rem;
  }
}
/*# sourceMappingURL=styles.css.map */